// colors
.background-red {
  background-color: palevioletred;
}
.background-orange {
  background-color: orange;
}
.background-greenYellow {
  background-color: greenyellow;
}
.background-green {
  background-color: green;
}

// Linear Layout
.linearLayout {
  display: flex;
  margin: 0;
  padding: 0;

  &.vertical{
    flex-direction: column;
  }
  &.horizontal {
    flex-direction: row;
  }
  &.right {
    text-align: right;
    justify-content: flex-end;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.second {
    display: flex;
    justify-content: space-between;
    .item{
      flex: 0 0 50%;
    }
  }
  &.thirds {
    display: flex;
    justify-content: space-between;
    .item{
      flex: 0 0 33.3333%;
    }
  }
  &.quarter {
    display: flex;
    justify-content: space-between;
    .item{
      flex: 0 0 25%;
    }
  }
  &.fifth {
    display: flex;
    justify-content: space-between;
    .item{
      flex: 0 0 20%;
    }
  }
  &.sixth {
    display: flex;
    justify-content: space-between;
    .item{
      flex: 0 0 16.6666%;
    }
  }
  .item {
    flex: 1;
    &.right {
      text-align: right;
    }
    &.left {
      text-align: left;
    }
    &.center {
      text-align: center;
    }
  }
}

body {
  padding: 2px 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}